*.log
*.swp
*.lock
*~
*.iml
node_modules
coverage
package-lock.json
.env
.cache
dist
build
public
yarn.lock
yarn-error.log
.stryker-tmp
.vscode
reports
junit.xml
.vscode/
test-report.xml
xunit.xml
chrome
src/Components
